{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <h5 class="card-title">{{ home.fldName }} - {{ home.fldBeds }}</h5>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">List: {{ home.fldList }}</li>
        <li class="list-group-item">Living: {{ home.fldLiving }}</li>
        <li class="list-group-item">Baths: {{ home.fldBaths }}</li>
        <li class="list-group-item">Rooms: {{ home.Rooms }}</li>
        <li class="list-group-item">Age: {{ home.fldAge }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{home.id}}" class="card-link btn btn-primary">edit</a>
    </div>
</div>
<form action="/delete/{{home.id}}" method="post"><button type="submit" class="btn btn-danger">Delete</button></form>


{% endblock %}